body {
    width: 100%;
    margin: auto
}

.konteiner {
    width: 960px;
    margin: 0 auto;
}

.pealis {
    background: #D8C3A5;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    float: left;
}

.navigatsioon {
    float: right;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    float: left;
    margin-left: 30px;
    padding-top: 45px;
    color: #e98074; 
    font-family: "Kumar One Outline"; 
    font-size: 17px;
}

h1{
    color: #e98074;font-family: "Kumar One Outline"; font-size: 45px;
}
h2{
    color: #e98074; font-family: "Kumar One Outline"; font-size: 20px;
}
h3{
    color: #e98074; font-family: "Kumar One Outline"; font-size: 20px;
}
h4{
    color: #e98074; font-family: "Kumar One Outline"; font-size: 20px;
}
body{
    background-color: #eae7dc;
}
p{
    color: #8e8d8a; font-family: "Montserrat"; font size: 10px;
}
a:link {
    color: #e98074;
}
a:visited {
    color: #e98074;
}
a:hover {
    color: white;
}
a:active {
    color: #e98074;
}
